<%- include("./partials/header") %>

<div class="container">

    <% for (let cohort of allCohorts) { %>
    
        <div class="card mb-4" style="padding: 5px;">

            <div class="card-body">
                <div class="row mb-2" style="">
                    <span class="mr-4" style="">
                        <img src="<%= cohort.logoUrl %>"
                        style="max-width:40px; max-height:40px; margin-top: 5 px;" 
                        alt="logo" class="rounded-circle">
                    </span>
                    <h4 class="card-title mb-2">
                        <%= cohort.name%>
                    </h4>
                </div>
                <div class="row" style="">
                    <p class="card-text text-secondary mb-2"><%= cohort.members %></p>
                </div>
            </div>

        </div>
    <% } %>


</div>


<%- include("./partials/footer") %>