
<%- include("./partials/header") %>

    <h1>Hi <%= myName%> ! </h1>
    <h2>You scored <%= result.percent%>% and you got <%= result.results%> out of 2 questions</h2>
    <!--<h1>Your result: <%= result.percent%> </h1> -->
    <h1>Your Grade: <%= result.grade%> </h1>

<%- include("./partials/footer") %>